.card {
    padding: 0 !important;
    margin: 0px 5px 20px 5px !important;
    transition: 300ms;
}

.card:hover {
    transform: scale(1.01);
}

.btn {
    margin: 0 !important;
    /* width: 95% !important; */
}

 .card-title {
     font-weight: 600 !important;
     font-size: 14px !important;
 }

 .weight-card-font-bold {
     font-weight: 600;
 }

 .weight-card-font-size, .weight-card-font-bold  {
     font-size: 12px;
 }

 .weight-card {
     background-color: #f2f2f2;
     display: inline-block;
     padding: 6px 10px;
     margin-bottom: 10px;
 }

 .cost {
     font-size: 1.2rem;
     font-weight: 600;
 }